.element__delete {
  position: absolute;
  top: 20px;
  right: 20px;
  background: url(../../../images/button-delete.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  width: 18px;
  height: 19px;
  transition: opacity 0.3s ease-out;
}
.element__delete:hover {
  opacity: 0.5;
  cursor: pointer;
}
