.profile {
  max-width: (100% - 400px);
  display: grid;
  grid-template-areas: "profile__avatar profile__title add-button";
  grid-template-columns: 120px 366px 1fr;
  margin: 40px auto 0;
  /* justify-content: space-between; */
  align-items: center;
  max-width: 880px;
}
@media screen and (max-width: 880px) {
  .profile {
    display: grid;
    grid-template-areas:
      "profile__avatar profile__title"
      "add-button add-button";
    grid-template-columns: 150px 1fr;
    max-width: 581px;
  }
}
@media screen and (max-width: 680px) {
  .profile {
    grid-template-areas:
      "profile__avatar"
      "profile__title"
      "add-button";
    grid-template-columns: auto;
    margin: 42px auto 36px;
  }
}
